<div ng-controller="pcoApp.controllers.list" id="pco">
	<!-- 
		<div class="alert" ng-class='messageType' ng-show="isShown">{{message}}</div>
	-->
	<br/>
	
	<form class="form-inline" role="form">
		<div class="form-group col-xs-4">
			<label for="searchBar" class="sr-only">Search</label>
			<input type="text" class="form-control" id="searchBar" ng-model="q" placeholder="搜索">
		</div>
		<a href="#/new" class="btn btn-success">
			<span class="glyphicon glyphicon-plus"></span> 新增
		</a>
		<button type="button" class="btn btn-default" ng-click="translation()">
			<span class="glyphicon glyphicon-globe"></span> 中/en
		</button>
		<a href="#/print" class="btn btn-primary">
		  <span class="glyphicon glyphicon-print"></span> 打印 <span class="badge">{{printCount()}}</span>
		</a>
		<button type="button" class="btn btn-danger pull-right" ng-click="delete()">
			<span class="glyphicon glyphicon-trash"></span> 删除
		</button>
	</form>

	<table class='table'>
		<thead>
			<tr>
				<th class="selectUnselect">
					<a href="" ng-click="selectAll()"><i class="fa fa-plus-square-o"></i></a>/<a href="" ng-click="deSelectAll()"><i class="fa fa-minus-square-o"></i></a>
				</th>
				<th>
					<a href="" ng-click=" order = '_id' ; reverse = !reverse">编号</a><span class="glyphicon glyphicon-sort"></span>
				</th>
				<th class="grade">
					<a href="" ng-click=" order = 'grade' ; reverse = !reverse">{{ (language==='cn')?('等级'):('Grade') }}</a><span class="glyphicon glyphicon-sort"></span>
				</th>
				<th>
					<a href="" ng-click=" order = language + '.company' ; reverse = !reverse">{{ (language==='cn')?('单位'):('Company') }}</a><span class="glyphicon glyphicon-sort"></span>
				</th>
				<th>
					<a href="" ng-click=" order = language + '.address' ; reverse = !reverse">{{ (language==='cn')?('地址'):('Address') }}</a><span class="glyphicon glyphicon-sort"></span>
				</th>
				<th>
					<a href="" ng-click=" order = language + '.artificialPerson' ; reverse = !reverse">{{ (language==='cn')?('法人'):('Artificial Person') }}</a><span class="glyphicon glyphicon-sort"></span>
				</th>
				<th>
					<a href="" ng-click=" order = language + '.presentationDate' ; reverse = !reverse">{{ (language==='cn')?('颁发日期'):('Presentation Date') }}</a><span class="glyphicon glyphicon-sort"></span>
				</th>
				<th>
					<a href="" ng-click=" order = validityDate ; reverse = !reverse">{{ (language==='cn')?('有效期'):('Validation Date') }}</a><span class="glyphicon glyphicon-sort"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat=' pco in filteredArray = (pcoList | orderByPriority | orderBy:order:reverse | filter:q)' >
				<td><input type="checkbox" ng-model="printList[pco.$id]"></td>
				<td><a href="#/{{pco.$id}}">{{ pco._id }}</a></td>
				<td>{{ pco.grade}}</td>
				<td>{{ pco[language].company }}</td>
				<td>{{ pco[language].address }}</td>
				<td>{{ pco[language].artificialPerson}}</td>
				<td>{{ pco[language].presentationDate}}</td>
				<td>{{ pco.validityDate}}</td>
			</tr>
		</tbody>
	</table>	
</div>
