<div ng-controller="pcoApp.controllers.list">
	<!-- 
		<div class="alert" ng-class='messageType' ng-show="isShown">{{message}}</div>
	-->
	<br/>
	
	<form class="form-inline" role="form">
		<div class="form-group">
			<label for="searchBar" class="sr-only">Search</label>
			<input type="text" class="form-control" id="searchBar" ng-model="q" placeholder="搜索">
		</div>
		<!-- Button trigger modal -->
		<a href="#/pco/new" class="btn btn-success">
			新增PCO
		</a>
		<button type="button" class='btn' ng-click="translation()">
			中/en
		</button>
		<button type="button" class="btn btn-default">
		  <span class="glyphicon glyphicon-print"></span> 打印
		</button>
	</form>

	<table class='table'>
		<thead>
			<tr>
				<th>
					<a href="" ng-click=" order = '_id' ; reverse = !reverse">#</a>
				</th>
				<th>
					<a href="" ng-click=" order = 'grade' ; reverse = !reverse">{{ (language==='cn')?('等级'):('Grade') }}</a>
				</th>
				<th>
					<a href="" ng-click=" order = language + '.company' ; reverse = !reverse">{{ (language==='cn')?('单位'):('Company') }}</a>
				</th>
				<th>
					<a href="" ng-click=" order = language + '.address' ; reverse = !reverse">{{ (language==='cn')?('地址'):('Address') }}</a>
				</th>
				<th>
					<a href="" ng-click=" order = language + '.artificialPerson' ; reverse = !reverse">{{ (language==='cn')?('法人'):('Artificial Person') }}</a>
				</th>
				<th>
					<a href="" ng-click=" order = language + '.presentationDate' ; reverse = !reverse">{{ (language==='cn')?('颁发日期'):('Presentation Date') }}</a>
				</th>
				<th>
					<a href="" ng-click=" order = validityDate ; reverse = !reverse">{{ (language==='cn')?('有效期'):('Validation Date') }}</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat=' pco in pcoList | orderByPriority | orderBy:order:reverse | filter:q' >
				<td><a href="#/pco/{{pco.$id}}">{{ pco._id }}</a></td>
				<td>{{ pco.grade}}</td>
				<td>{{ pco[language].company }}</td>
				<td>{{ pco[language].address }}</td>
				<td>{{ pco[language].artificialPerson}}</td>
				<td>{{ pco[language].presentationDate}}</td>
				<td>{{ pco.validityDate}}</td>
			</tr>
		</tbody>
	</table>	
</div>
