<div ng-controller="pcoApp.controllers.print" id="print">
	<div ng-repeat="pco in toPrint">
		<section id="CN">
			<div class="gradeB">{{pco.grade}}</div>
			<div class="company">{{pco.cn.company}}</div>
			<div class="address">{{pco.cn.address}}</div>
			<div class="artificialPerson">{{pco.cn.artificialPerson}}</div>
			<div class="_id">{{pco._id}}</div>
			<div class="gradeS">{{pco.grade}}</div>
			<div class="validityDate">{{pco.validityDate}}</div>
			<div class="presentationDate">{{pco.cn.presentationDate}}</div>
		</section>
		<section id="EN">
			<div class="gradeB">{{pco.grade}}</div>
			<div class="company">{{pco.en.company}}</div>
			<div class="address">{{pco.en.address}}</div>
			<div class="artificialPerson">{{pco.en.artificialPerson}}</div>
			<div class="_id">{{pco._id}}</div>
			<div class="gradeS">{{pco.grade}}</div>
			<div class="validityDate">{{pco.validityDate}}</div>
			<div class="presentationDate">{{pco.en.presentationDate}}</div>
		</section>
	</div>
</div>